<p id="notice"><%= notice %></p>

<% @projects.each do |project| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to project.title, project %></h2>
    <p class="todo_list_sub_title"><%= project.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Projects", new_project_path %>
</div>

